*{
	font-family: Helvetica
}
section{
	background-image: url("../img/grupal.jpg");
	height:700px;
	background-repeat: no-repeat;
    background-size: 100% ;

}

button{
	padding: 20px 40px;
	background-color: #FFBF00;
	margin-top: 50px;
	text-align: center;
	border-radius: 10px;
	font-size: 15px
}

div img{
	
	width:100%;
	margin-top:40px;
	text-align: center;
	
}
ul{
	list-style: none;
	text-align: right

}
ul li{
	display:inline-block;
	font-size: 15px;
	margin-top: 40px;
	font-weight: bold;
	margin-right: 10px
}
div>button:hover{
	color:red;
}
button:hover{
	box-shadow: 7px 7px 7px gray
}
li:hover{
	box-shadow: 7px 7px 7px gray
}

.ya{
	margin-top: 10px;
	text-align: left
}
.centro{
	text-align: center
}

.marg{
	margin-left: 6%;
	margin-top: 50px
}
img+p{
	font-size: 20px
}
.gray{
	background-color: gray;
	height:150px;
	color:white;
	font-size: 20px
}

footer{
	margin-top:50px;
	padding-top: 20px
}